# binary files for packages
bowtie*/
sratoolkit*/
sratoolkit.tar.gz

# data directories
fastq/
scratch/
results/
termination/

# genome fasta
reference/WS230/*genomic.fa

# bowtie index files
reference/WS230/*.ebwt

# temporary config files
config/file_info_Kasper.txt
config/qsub.*

*.Rhistory
*.gitconfig
